body {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #e5e5e5;
}

.global {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}

.page {
	width: 960px;
	margin: auto;
	background: white;
	padding: 20px;
}

.entete {
	width: 960px;
	margin: auto;
	padding: 20px;
	background: #f3f3f3;
	color: #333;
}

.entete h1 {
	margin: 0;
}

.entete nav {
	margin-top: 15px;
}

.entete nav a {
	color: #333;
	text-decoration: none;
	margin-right: 20px;
}

.entete nav a:hover {
	text-decoration: underline;
}

.pied-page {
	padding: 20px;
	background: #f3f3f3;
	color: #777;
	text-align: center;
}

.resultats {
	text-align: center;
	margin-top: 20px;
}

.resultat {
	display: inline-block;
	width: 150px;
	padding: 20px;
	margin: 10px;
	background-color: white;
}

.resultat span {
	display: block;
	margin-bottom: 10px;
}

.resultat strong {
	font-size: 30px;
}

th,
td {
	padding: 10px;
	border: 1px solid #ccc;
}

th {
	background-color: #f3f3f3;
}

.show {
	color: white;
	background-color: red;
	padding: 5px 10px;
	text-decoration: none;
}

.supprimer {
	color: white;
	background-color: red;
	padding: 5px 10px;
	text-decoration: none;
}
.voir {
	color: white;
	background-color: #337ab7;
	padding: 5px 10px;
	text-decoration: none;
	margin-right: 10px;
}

.numeros {
	text-align: center;
	margin: 20px 0 40px 0;
	background-color: lightgrey;
}

.numeros strong {
	display: inline-block;
	font-size: 40px;
	margin: 10px;
}

.detail {
	padding: 15px;
	background-color: lightyellow;
}
